<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afterpay.android">

    <application>
        <activity
            android:name=".view.WebCheckoutActivity"
            android:theme="@style/AfterpayDialog" />
    </application>

</manifest>
