<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afterpay.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".view.AfterpayCheckoutActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AfterpayDialog" />
        <activity
            android:name=".view.AfterpayInteractiveCheckoutActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AfterpayDialog" />
        <activity
            android:name=".internal.AfterpayInfoActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AfterpayDialog" />
    </application>

</manifest>
