<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <activity
            android:name=".view.AfterpayCheckoutActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AfterpayDialog" />
        <activity
            android:name=".view.AfterpayCheckoutV2Activity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AfterpayDialog" />
        <activity
            android:name=".view.AfterpayCheckoutV3Activity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AfterpayDialog" />
        <activity
            android:name=".internal.AfterpayInfoActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AfterpayDialog" />
    </application>

</manifest>
